
<footer class="container-fluid">
   <blockquote>
     <p>COPYRIGHT NOTICE</p>
     <p>All photos and material are by Anton Bielousov and are subject of Copyright (owned by the creator) unless otherwise noted.
Images can be used on your personal or non-profit web resource without permission if followed by author’s name and a link to this web site.
Permission for commercial use of these materials can be obtained upon request:<a href="mailto:#">Leonid.Dushin@gmail.com</a></p>
       <div class="text-center">2018 Leonid Dushin </div>   
   </blockquote>

</footer>
