<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

<script src="{{ site.baseurl }}/js/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/animatedheader/classie.js"></script>
<script src="{{ site.baseurl }}/js/animatedheader/cbpAnimatedHeader.js"></script>
<script>$(function () {
  $(window).on("load resize", function () {
    $(".fill-screen").css("height", window.innerHeight);
  });
});</script>
  </body>

</html>
