<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.fs.wallpaper.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css"/>

<!-- photo gallery-->
    <link rel="stylesheet" href="{{site.baseurl}}/css/gallery/blueimp-gallery.min.css">


    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-image-gallery.css">
</head>
  <body>
    {% include header.html %}
    <div class="container background-white">
        {{ content }}
