---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="container-fluid">
	{%if page.tumblr%}
		<div class="row">
			<div class="fill-screen" style="background-image: url({{  page.tumblr | site.baseurl}})"></div>
		</div>
	{% endif %}
	
	   <div class="row" >
	   <blockquote>
				<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
				<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" 
				                            itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
				                     </time>
									 {% if page.author %} • 
									 <span itemprop="author" itemscope itemtype="http://schema.org/Person">
											<span itemprop="name">{{ page.author }}
											</span>
									 </span>{% endif %}
				</p>
			</blockquote>
		</div>
  <div class="row post-content" itemprop="articleBody">
  <blockquote>
    {{ content }}
  </blockquote>
  </div>
</div>
</article>
